.main-nav {
  background: whitesmoke;
  font-family: 'Montserrat';
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  position: fixed;
  top: 0;
  width: 96.8%;
  z-index: 500;
}

.desktop > div {
  padding: 0 10px;
}