body {
  padding: 0;
  margin: 0;
  background: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

.desktop {
  display: none;
}

.menu > button {
  background-color: whitesmoke;
  display: flex;
  width: 70px;
  font-size: x-large;
  color: black;
  border: none;
  font-weight: bold;
} 

.drawer {
  padding: 10px 32px 0px 32px;
  background: whitesmoke;
  color: black;
  font-family: 'Montserrat';
  left: 0;
  top: -190px;
  width: 100vw;
  position: fixed;
  transition: 1s;
  z-index: 499;
}

.drawer > div {
  width: 100%
}

.open {
  top: 60px;
}

.menu {
  font-family: 'Montserrat';
}

@media (min-width: 336px) {
  nav.main-nav {
    padding: 1em;
  }
  .desktop {
    display: none;
  }
  .menu {
    display: flex;
  }
}
@media (min-width: 576px) {
  nav.main-nav {
    padding: 1em;
  }
  .desktop {
    display: none;
  }
  .menu {
    display: flex;
  }
}

@media (min-width: 768px) {
  nav.main-nav {
    padding: 1em;
  }
  .desktop {
    display: none;
  }
  .menu {
    display: flex;
  }
}

@media (min-width: 992px) {
  nav.main-nav {
    background: whitesmoke;
    padding: 2em;
  }
  .desktop {
    display: flex;
  }
  .menu {
    display: none;
  }
  .open {
    display: none;
  }
}

@media (min-width: 1200px) {
  nav.main-nav {
    background: whitesmoke;
    padding: 2em;
  }
  .desktop {
    display: flex;
  }
  .menu {
    display: none;
  }
  .open {
    display: none;
  }
}